% Сохрани этот файлик в папку thesis.

\thispagestyle{empty}

\begin{center}
  Федеральное государственное бюджетное учреждение высшего профессионального образования \\
  <<Костромской государственный университет имени Н. А. Некрасова>> \\
  \vspace{1em}
  Кафедра теории и истории культур
\end{center}
\vspace{2em}
\begin{flushright}
  \textit{На правах рукописи}
\end{flushright}
\vspace{2em}
\begin{center}
  Лебедев Никита Андреевич \\
  \vspace{1em}
  \textbf{Логотип как форма массового сознания: структура, функции, эмблематика} \\
  \vspace{1em}
  Специальность 24.00.01 – теория и история культуры \\
  \vspace{2em}
  Диссертация \\
  на соискание ученой степени \\
  кандидата культурологии
\end{center}
\vspace{2em}
\begin{flushright}
  Научный руководитель: \\
  доктор культурологии, \\
  профессор И. А. Едошина
\end{flushright}
\vfill
\begin{center}
  Кострома -- 2013
\end{center}